.contHome {
    padding: 40px;
    height: 100vh;
    background-image: url(../../../../public/assets/images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.divHome {
    padding: 20px;
    border: 8px solid #fff;
    width: 30%;
    height: 40vh;
    margin: auto;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}




// _____________________ MEDIA __________________

